<template>
  <v-footer
    dark
    height="auto"
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="footer-title">
        <strong class="subheading">{{ footerTxt }}</strong>

        <v-spacer></v-spacer>

        <v-btn
          v-for="social in socials"
          :key="social.icon"
          class="mx-3"
          dark
          icon
          :href="social.link"
        >
          <v-icon size="24px">{{ social.icon }}</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-actions class="grey darken-3 justify-center">
        &copy;{{ year }} — <strong>{{ company }}</strong>
      </v-card-actions>
    </v-card>
  </v-footer>
</template>

<script>
  export default {
    data: () => ({
    }),
    computed: {
      footerTxt () {
        return this.$t('Footer.footerTxt')
      },
      socials () {
        return this.$t('Footer.socials')
      },
      company () {
        return this.$t('Footer.company')
      },
      year () {
        return new Date().getFullYear()
      }
    }
  }
</script>

<style>
.footer-title {
  background-color: #4f4f4f;
}
</style>
