<template>
  <alpha-hero
    gradient="to top, rgba(255, 255, 255, .75), rgba(255, 255, 255, .75)"
    height="680"
    :items="items"
  >
    <v-container
      v-if="isBooted"
      :key="$route.path"
      slot-scope="item"
      fill-height
    >
      <v-layout align-center>
        <v-fade-transition mode="out-in">
          <v-flex
            :key="$route.path"
            text-xs-center
          >
            <h1
              class="display-2"
              v-html="item.item.title"
            />
            <div
              v-if="item.item.subtitle"
              class="subheading"
              v-html="item.item.subtitle"
            />
          </v-flex>
        </v-fade-transition>
      </v-layout>
    </v-container>
  </alpha-hero>
</template>

<script>
  export default {
    data: () => ({
      isBooted: false,
      items: [
        {
          src: '/static/hero.jpg',
          title: 'We are BlueHub Solutions',
          subtitle: 'We build high performance software according to your requirement'
        },
        {
          src: 'static/hero.jpg',
          title: 'We Develop Complex Backend Systems',
          subtitle: 'We develop in modern architecture and specialize in PHP, JavaScript, Java, Scala and Python'
        },
        {
          src: 'static/hero.jpg',
          title: 'We Build Modern Frontend Applications',
          subtitle: 'We build modular frontend with Vue, React, Angular'
        },
        {
          src: 'static/hero.jpg',
          title: 'We Work With Data-Science and DevOps',
          subtitle: 'We work with data-science (Apache Spark, Hadoop) and work with DevOps (Infrastructure and Containerization)'
        }
      ]
    }),

    computed: {
      namespace () {
        return this.$route.name
      }
    },

    mounted () {
      setTimeout(() => {
        this.isBooted = true
      }, 200)
    }
  }
</script>
