<template>
  <v-toolbar
    v-scroll="onScroll"
    app
    :flat="!isScrolling"
    :color="!isScrolling ? 'transparent' : 'white'"
  >
    <img
      id="header-logo"
      src="/static/logo-bluehub.png"
    >
    <v-spacer />
    <template v-if="$vuetify.breakpoint.mdAndUp">
      <v-btn
        v-for="(item, i) in items"
        :key="i"
        :active-class="!isScrolling ? 'primary--text' : undefined"
        flat
        :href="item.href"
        @click="$vuetify.goTo(item.href, {
          offset: -100
        })"
      >
        <span v-text="item.text" />
      </v-btn>
    </template>
    <v-btn
      v-else
      icon
      @click="toggleDrawer"
    >
      <v-icon>mdi-menu</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script>
  // Utilities
  import { mapMutations } from 'vuex'

  export default {
    data: () => ({
      isScrolling: false
    }),

    computed: {
      items () {
        return this.$t('View.items')
      }
    },

    methods: {
      ...mapMutations(['toggleDrawer']),
      onScroll () {
        this.isScrolling = (window.pageYOffset ||
          document.documentElement.scrollTop || 0) > 100
      }
    }
  }
</script>

<style>
  #header-logo {
    height: 42px;
    width: 250px;
  }
</style>
