<template>
  <v-container py-5>
    <v-layout
      wrap
      mb-5
    >
      <v-flex xs8>
        <h2
          id="about-us"
          class="headline mb-3"
          v-text="$t('Home.aboutUs')"
        />
        <p
          class="about-us-txt"
          v-text="$t('Home.aboutUsText')"
        />
      </v-flex>
      <v-flex xs4>
        <img
          src="/static/about-me.png"
          :alt="$t('Home.aboutMe')"
          width="100%"
        >
      </v-flex>
    </v-layout>

    <v-layout mb-5>
      <v-flex
        xs12
        mb-5
      >
        <h2
          id="services"
          class="headline mb-3"
          v-text="$t('Home.services')"
        />
        <alpha-list-feature :features="listFeatures" />
      </v-flex>
    </v-layout>

    <v-layout mb-5>
      <v-flex xs12>
        <h2
          id="portfolio"
          class="headline my-5 text-xs-center"
          v-text="$t('Home.portfolio')"
        />
        <portfolio />
      </v-flex>
    </v-layout>

    <v-layout mb-5>
      <v-flex xs12>
        <h2
          id="contact-me"
          class="headline my-5 text-xs-center"
          v-text="$t('Home.contact')"
        />

        <v-layout justify-center>
          <a
            href="#"
            style="text-decoration: none;"
          >
            <v-hover
              v-for="(contact, i) in contacts"
              :key="i"
            >
              <v-btn
                slot-scope="{ hover }"
                :color="contact.color"
                :class="`elevation-${hover ? 12 : 6}`"
                class="ma-3"
                dark
                fab
                large
              >
                <v-icon
                  dark
                  v-text="contact.icon"
                />
              </v-btn>
            </v-hover>
          </a>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import Portfolio from '../components/sections/Portfolio'

  export default {
    metaInfo () {
      return {
        title: this.$i18n.t('Home.title')
      }
    },
    components: {
      Portfolio
    },
    data: () => ({
      contacts: [
        {
          color: 'blue',
          icon: 'mdi-email'
        },
        {
          color: 'red lighten-2',
          icon: 'mdi-phone'
        },
        {
          color: 'indigo',
          icon: 'mdi-facebook'
        }
      ]
    }),
    computed: {
      categories () {
        return this.$t('Home.categories')
      },
      listFeatures () {
        return this.$t('Home.listFeatures')
      },
      projects () {
        return this.$t('Home.projects')
      }
    }
  }
</script>

<style>
  p.about-us-txt {
    padding-right: 20px;
  }
</style>
